<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet " href = "stylesheet.css"> 
    <title>Document</title>
</head>

<body>
    
    <h1> Welcome to Express Pizza</h1>

    <h3>Speciality Pizzas</h3>

    <a> Anchovy Lover's</a>
    <a> Paleo Pizza</a>
    <a> Dessert Pizza</a>


    <h3>Custom Pizza</h3>
    <a>Build your own!</a>


    <h3>Leave a Review</h3>
    <a>Click here to leave a review</a>
    <img src = "pizza-g5d57863bf_640.jpg" alt = "A Round small pizza stting on a plate and a board with basil an tomatoes as garnish">

    
</body>
</html>